<ion-header>
    <ion-toolbar>
        <ion-title>Indicadores financieros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="indicators !null">
        <ion-item *ngFor="let indicatorKey of indicatorsKeys">
            <ion-icon (click)="goToDetailTwo(indicators[indicatorKey].codigo)" slot="end" name="information-circle-outline" color="primary"></ion-icon>
            <ion-icon (click)="goToDetail(indicators[indicatorKey].codigo)" slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
            <ion-label>
                <h2>{{indicators[indicatorKey].nombre}}</h2>
                <ion-text color="primary">
                    <h3>{{indicators[indicatorKey].unidad_medida}}</h3>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>