<ion-header>
    <ion-toolbar>
        <ion-title>Indicadores financieros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="indicators !null">
        <ion-item *ngFor="let indicatorKey of indicatorsKeys">
            <ion-icon (click)="goToDetailTwo(indicators[indicatorKey].codigo)" slot="end" name="information-circle-outline" color="primary"></ion-icon>
            <ion-icon (click)="goToDetail(indicators[indicatorKey].codigo)" slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
            <ion-label>
                <h2>{{indicators[indicatorKey].nombre}}</h2>
                <ion-text color="primary">
                    <h3>{{indicators[indicatorKey].unidad_medida}}</h3>
                </ion-text>
            </ion-label>
        </ion-item>
        <!-- <ion-item>
            <ion-icon (click)="goToDetailTwo()" slot="end" name="information-circle-outline" color="primary"></ion-icon>
            <ion-icon (click)="goToDetail(indicators.euro.codigo)" slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
            <ion-label>
                <h2>{{indicators.bitcoin.nombre}}</h2>
                <ion-text color="primary">
                    <h3>{{indicators.bitcoin.unidad_medida}}</h3>
                </ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{indicators.dolar.nombre}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{indicators.dolar_intercambio.nombre}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{indicators.euro.nombre}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                {{indicators.imacec.nombre}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                {{indicators.ipc.nombre}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                {{indicators.ivp.nombre}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{indicators.libra_cobre.nombre}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                {{indicators.tasa_desempleo.nombre}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{indicators.tpm.nombre}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{indicators.uf.nombre}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{indicators.utm.nombre}}</ion-label>
        </ion-item> -->
    </ion-list>
</ion-content>